{% extends 'base.html.twig' %}




{% block title 'Reservation de billet' %}


{% block body %}

    {% endfor %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message | trans}}
        </div>
    {% endfor %}
    <h1>Confirmation</h1>
<img src="{{ qr_code_path(message) }}" />
<img src="{{ qr_code_url(message, { writer: 'eps' }) }}" />
<img src="{{ qr_code_data_uri(message, { writer: 'png', size: 150 }) }}" />

{%  endblock %}
    