{% extends "base.html.twig" %}

{% block body %}
<h1>hello</h1>

<h1>Hello {{ ticket.numberOfTicket }} </h1>
    {% for i in 1..(ticket.numberOfTicket) %}
        {{ form_widget(formm) }} <br>
    {% endfor %}
{% endblock %}