{% extends "base.html.twig" %}

{% block body %}


<div class="home mt-4">

    <h1 class=" h1 text-center text-uppercase">Bienvenue au Louvre</h1>
    <br>
    <p class="text-center">Il s'agit d'un projet de billeterie pour le site du Louvre</p>
    <br>
    <p class="text-center">il s'agit du projet 4 dans la formation Chargé de projet - Développement</p>
    <br>
    <p class="text-center"><em><a class="nav-link" href="{{ path('order') }}">{{ 'button.buy.tickets' | trans }}</a></em></p>
</div>

{% endblock %}